node_modules/

android/.gradle/
android/build/
android/app/build/
android/local.properties
ios-web/
ios/App/build/
ios/DerivedData/
*.ipa
*-artifact.zip
.ios-artifact/

.env
.env.*
!.env.example

*.jks
*.keystore
